main {
    margin: 0 auto 4rem;
    max-width: 42rem;
}

section {
    padding: 0 1rem 2rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

/*
 * https://codepen.io/lucasfads/pen/QWwjGjv
	 */
/* .expand-button { */
    /* white-space: nowrap; */
    /* overflow:hidden; */
    /* width: auto; */
    /* max-width: 32px;  */
    /** I'm animating max-width because width needs to be auto, and auto can't be animated **/
    /* -webkit-transition: max-width 0.5s; */
    /* transition: max-width 0.5s; */
/* } */

/* .expand-button:hover {
    max-width: 160px;
} */
